#card{
    border-radius: 10px;
    background-color:whitesmoke;
    border-color: gainsboro;
    max-width: 200px;
}



.active{
    color: red;
    font-size: 12px;
    display: block;
}
#error-message{
    display: none;
}